[Desktop Entry]
Version=1.0
Name=REBELS Nuke
Exec=/bin/sh -c "$HOME/.rebels/scripts/rblNuke.sh"
Icon=rbl_nuke
MimeType=application/x-desktop
Terminal=false
Type=Application